<h1 id='<%= @event.id %>'><%= best_in_place @event, :name, as: :input %></h1>
<% @event.meals.each do |meal| %>

<p></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= meal.name %></div>
  <!--div class="panel-body">
  </div-->

  <table class="table">
  <thead>
    <tr>
      <th> </th>
      <th>Item</th>
      <th>Description</th>
      <th>Responsible</th>
    </tr>
  </thead>
  <tbody>
    <% meal.items.each_with_index do |item, nr| -%>
      <tr>
        <th scope="row"><%= nr + 1 %></th>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <%# <td><%= item.responsible %1> %>
        <td><%= best_in_place item, :responsible, :as => :input, path: event_meal_item_path(@event.id, meal.id, item.id) %></td>
      </tr>
    <% end -%>
  </table>
</div>

<% end %>
